body {
    background-color: #000000 !important; /* Full black background */
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding-top: 10px;
    padding-bottom: 50px;
}

.contact-card {
    background: rgba(0, 0, 0, 0.5); /* Transparent card background */
    border-radius: 10px;
    width: 70%;
    max-width: 800px;
    padding: 30px;
    position: relative;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.contact-title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(90deg, #236e65, #7ecd73, #cff8d6); /* Gradient colors */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make text color transparent for the gradient to show */
    background-clip: text; /* For other browsers */
    color: transparent; /* Keep this in case you need it for older browsers */
    margin-bottom: 20px;
    letter-spacing: 2px; /* Increased letter spacing */
}

.contact-description {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-bottom: 30px;
    letter-spacing: 1.5px; /* Increased letter spacing */
}

.message-form {
    background-color: rgba(255, 255, 255, 0.1); /* Transparent form background */
    padding: 20px;
    border-radius: 10px;
}

.message-form h2 {
    color: #fff; /* White text for form header */
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: 1.5px; /* Increased letter spacing */
}

.message-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.message-form input,
.message-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #444; /* Dark border */
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2); /* Transparent input fields */
    color: #fff; /* White text in input fields */
    font-size: 14px;
    letter-spacing: 1px; /* Increased letter spacing */
}

::placeholder {
    font-size: 12px;
    color: #aaa; /* Lighter grey for placeholder */
    letter-spacing: 1px; /* Increased letter spacing */
}

.message-form textarea {
    resize: none;
    height: 100px;
}

.message-form button {
    padding: 12px;
    background-color: #f39c12; /* Accent color for button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1.5px; /* Increased letter spacing */
}

.message-form button:hover {
    background-color: #d35400; /* Darker accent on hover */
}

@media (max-width: 768px) {
    .contact-card {
        width: 90%;
    }
}
