.events-page{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
    
}
.events-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-evenly;
    margin:20px;
  
}
      .modal {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100vw !important;
        height: 100vh !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        background-color: rgba(0, 0, 0, 0.5) !important;
        z-index: 1000 !important;
      }
      
      .modal-content {
        background-color: #1e1e1e !important;
        padding: 20px !important;
        border-radius: 10px !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
        width: 100% !important;
        max-width: 600px !important;
      }
      h1 {
        font-size: 2.5rem;
        font-weight: 1000 !important;
        margin-bottom: 100px;
        margin-top: 40px !important;
        background: linear-gradient(0deg, #236e65, #7ecd73, #cff8d6);
        -webkit-background-clip: text; /* Clip the background to the text */
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        letter-spacing: 0.08em; 
    }
      