.about-us-container {
    background-color: #000; /* Match your theme */
    color: #c1d9d8; /* Light green color for text */
    padding: 50px;
    text-align: justify;
    border-top: 2px solid #428679; /* Gold border on top */
    font-family: 'Agrandir', sans-serif; /* Use your chosen font */
  }
  
  .about-us-container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px !important;
    font-weight: 1000;
    background: linear-gradient(0deg, #236e65, #7ecd73, #cff8d6); /* Gradient colors */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make text color transparent for the gradient to show */
    background-clip: text; /* For other browsers */
    color: transparent;/* Gold color for the heading */
  }
  
  .about-us-container p {
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 100%;
    margin: 0px 20px !important;
  }
  
  @media (max-width: 768px) {
    .about-us-container h2{
      font-size: 1.5rem;
      margin-bottom: 10px !important;
    }
    .about-us-container P{
      margin: 0px 2px !important;
      font-size: 0.8rem;
    }
  }