
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.event-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card container */
.item-container {
    position: relative;
    width: 320px;
    height: 435px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

/* Image and body container inside the card */
.img-container,
.body-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Styling for the event image */
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

/* Overlay effect on hover */
.overlay {
    position: relative;
    width: 100%;
    height: 350px;
    background-color: rgba(24, 83, 122, 0.6);
    opacity: 0;
    transition: height 0.4s linear, opacity 0.2s linear;
    border-radius: 8px 8px 0 0;
}

.item-container:hover .overlay {
    opacity: 1;
    height: 150px;
}

/* Event information inside the card */
.event-info {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* Title and price styles */
.title,
.price {
    color: #18537a;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 12px;
    text-align: center;
}

/* Information text styles */
.info {
    letter-spacing: 0.5px;
    margin-bottom: 6px;
    text-align: center;
}

/* Separator styling between title and additional info */
.separator {
    width: 20%;
    height: 6px;
    background-color: #17537a;
    margin-bottom: 16px;
    border-radius: 3px;
}

/* Additional info section */
.additional-info {
    border-top: 1px solid #bbb;
    margin-top: 12px;
    padding: 28px;
    padding-bottom: 0;
    text-align: justify;
    text-justify: inter-word;
}

.additional-info .info {
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
}

/* Info icon and span styling */
.info i {
    color: #18537a;
    font-size: 1.1em;
    margin-right: 4px;
}

.info span {
    color: #18537a;
    font-weight: bold;
}

/* Action button styling */
.action {
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 0.4s, top 0.4s, color 0.3s;
    border-radius: 25px;
}

.item-container:hover .action {
    top: 50px;
    background-color: #18537a;
    color: #fff;
}

/* Hover effects on card */
.item-container:hover {
    transform: scale(1.05);
}