html, body {
    height: 100%;
    margin: 0;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  footer {
    margin-top: auto;
  }
.btnu a{
    border-radius: 33%;
    margin: 1px 5px;
    border: 2px solid #fff;
    padding-bottom: 8px;
    padding-top: 5px;
    padding-left: 6px;
    color: white;
    padding-right: 6px;
}
.btnu a:hover{
    color: #333 !important;
    background-color: #319393;  
}
.iconu {
    color: white;
    transition: color 0.3s ease; 
  }

  .mb-478:hover{
    color: #333 !important;
    background-color: #fff !important;
  }
  .mb-478{
    width: 140px !important;
    height: 40px !important;
  }
