@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  background-color: black; /* Change background to black */
  color: white; /* Ensures text is white */
  font-family: 'Roboto Mono', sans-serif !important;
}

.btnu a {
  border-radius: 33%;
  margin: 1px 5px;
  border: 2px solid #fff;
  padding: 5px 6px; /* Adjust padding for consistency */
  color: white;
}

.btnu a:hover {
  color: #333 !important;
  background-color: #7b611a;  
}

.iconu {
  color: white;
  transition: color 0.3s ease; 
}

.mb-478:hover {
  color: #333 !important;
  background-color: #fff !important;
}

.mb-478 {
  width: 140px !important;
  height: 40px !important;
  font-family: 'Roboto Mono', sans-serif !important;
}